body {
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 24px;
}

.buttons {
    margin-top: 20px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.btn-square {
    width: 150px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 auto;
}

.btn-red {
    background-color: red;
    color: white;
    border: 2px solid red;
}

.btn-blue {
    background-color: blue;
    color: white;
    border: 2px solid blue;
}

/* Override Bootstrap button hover behavior */
.btn.btn-square:hover {
    background-color: blue; /* Preserve the background color */
    color: inherit; /* Preserve the text color */
    border-color: blue; /* Preserve the border color */
}

